/* Untuk Tablet */
@media all and (max-width: 1000px) {
	.top-wrapper h1 {
		font-size: 32px;
	}

	.heading h2 {
		font-size: 20px;
	}

	.lesson {
		width: 50%;
		margin-bottom: 50px;
	}
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
	.header-right {
		display: none;
  }
  
	.container h2 {
		font-size: 15px;
	}

	.top-wrapper {
		padding: 80px 0px 20px 0px;
		/* background-image: url(https://prog-8.com/images/html/advanced/top_en.png); */
		background-size: cover;
		color: white;
		text-align: center;
	}

	.menu-icon {
		display: block;
	}

	.top-wrapper {
		text-align: left;
  }
  
  .heading {
    padding: 0;
  }

  .heading h2{
    font-size: 18px;
    /* margin-top: 10px; */
    padding: 0;
  }

  .lesson-wrapper {
    
  }

	.top-wrapper h1 {
		font-size: 24px;
		line-height: 36px;
	}

	.top-wrapper p {
		font-size: 14px;
		line-height: 20px;
	}

	.btn {
		width: 100%;
	}

	.facebook {
		margin-bottom: 10px;
	}

	.lesson {
		width: 100%;
	}

	.message-wrapper {
		width: 100%;
	}

	footer {
		text-align: center;
	}
}
